%p= "Hola <%= @resource.email %>!"

%p Alguien ha enviado una solicitud para cambiar la contraseña de su cuenta. Para hacerlo siga el siguiente enlace:

%p= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)

%p Si usted no solicitó ningún cambio de contraseña solo ignore este mail y disculpe las molestias.
%p Su contraseña no será cambiada hasta que usted acceda al enlace anterior y cree una nueva.
